html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 86%;
      }

h1, .modal h2 {
  font-family: 'Special Elite', sans-serif;
}

footer {
  line-height:40px;
}

form {
  margin-top:15px;
  line-height:30px;
}

#instModal {
  top:15%;
}

#drop-here {
  border: solid thin black;
}

.favs {
  position:absolute;
  bottom: 20px;
  right:20px;
  float:right;
  margin-left:25px;
}

.info-window {
  min-width:350px;
}