html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 86%;
      }

h1 {
  font-family: 'Special Elite', sans-serif;
}

footer {
  line-height:40px;
}

form {
  margin-top:15px;
  line-height:30px;
}

#instModal {
  top:15%;
}